<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sprite_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{48,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{96,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{144,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{192,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{240,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{288,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{336,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{384,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{432,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{480,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sprite_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{48,60}</string>
                <key>textureRect</key>
                <string>{{528,0},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player_idle.png</string>
            <key>size</key>
            <string>{576,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7399cb057f56976c0789e70fe3d0854d:8abed3b0cd807554257ec2b78302f951:a98e383927f56447132f9891c9af7325$</string>
            <key>textureFileName</key>
            <string>player_idle.png</string>
        </dict>
    </dict>
</plist>
